*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    background-color: rgb(222, 221, 218);
    
}
.userinput{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 15rem;
}
button{
    background-color: silver;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 17px;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    /* cursor: not-allowed; */
}
button:disabled{
    cursor: not-allowed;
}